/*$background-color: rgba(48, 48, 204, 0.934);*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  background-color: rgba(49, 49, 221, 0.836);
  color: rgb(238, 250, 235);
  box-sizing: border-box;
}
header .mer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: rgb(238, 250, 235);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-size: 1.875rem;
  font-style: normal;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin-right: 20px;
  flex-wrap: wrap;
  text-decoration: none;
}
.navbar li a {
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(238, 250, 235);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-size: 1.25rem;
  font-style: normal;
  flex-wrap: wrap;
}

main {
  display: flexbox;
  width: 100%;
  height: auto;
  font-weight: 500;
  font-size: 2.5rem;
  font-style: normal;
  /*color:rgba(112, 14, 14, 0.863); */
}

.encabezado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(2, 161, 87, 0.897);
  flex-wrap: wrap;
}
.encabezado .encabezado h1 {
  display: flex;
  margin-left: 20px;
  flex-wrap: wrap;
}
.encabezado .redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  flex-wrap: wrap;
}
.encabezado .redes a {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-left: 20px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  color: rgba(31, 28, 28, 0.863);
}

h2 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 1.875rem;
  font-style: normal;
  color: rgba(24, 22, 22, 0.863);
  margin-left: 20px;
}

p {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 1.375rem;
  font-style: normal;
  color: rgba(31, 28, 28, 0.863);
  margin-left: 20px;
}

div {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.imgPortada {
  display: flexbox;
  flex-direction: row;
  width: 100%;
}

.imgPortada img {
  display: flex;
  width: 100%;
  margin: 0%;
  padding: 0%;
}

.imgPortada {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.seccionBanner {
  display: flexbox;
  flex-direction: row;
  width: auto;
}
.seccionBanner .banner {
  display: flex;
  flex-direction: row;
}

.piePagina {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgba(2, 161, 87, 0.897);
}
.piePagina .piePagina .textoPie {
  display: flex;
  flex-direction: row;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  width: 100%;
  font-size: 1.625rem;
  font-style: normal;
  color: rgba(31, 28, 28, 0.863);
}

.textoInicio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  flex-wrap: wrap;
}
.textoInicio .texto {
  display: flex;
  flex-wrap: wrap;
}
.textoInicio .textoInicio p {
  display: flex;
  margin-left: 20px;
  text-align: justify;
  flex-wrap: wrap;
}

main .texto .textInicio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.formulario {
  display: flex;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-size: 1.625rem;
  font-style: normal;
  color: rgb(65, 58, 58);
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  align-items: center;
}

.formulario {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: flex;
  margin-bottom: 5px;
}

input[type=text],
input[type=email],
textarea {
  display: flex;
  width: 100%;
  padding: 10px;
  color: rgba(10, 10, 22, 0.934);
  border: 1px solid #ccc;
  border-radius: 5px;
  align-items: center;
}

button[type=submit] {
  padding: 10px 20px;
  background-color: #484e53;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type=submit]:hover {
  background-color: #646c74;
}

.formulario-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 20px;
  background-color: rgba(46, 46, 194, 0.934);
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(240, 238, 238);
}

.form-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: rgb(236, 250, 233);
  justify-items: center;
  align-items: center;
}

.grid {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 50% 50%;
  grid-template-rows: 18.75rem 18.75rem;
}

.smArtista {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

div .smArtista {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.smArtista p {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.section1 {
  background-color: #FFF27F;
  align-items: center;
  justify-content: center;
}

.section2 {
  background-color: #FFF27F;
  align-items: center;
  justify-content: center;
}

.section3 {
  background-color: #FFF27F;
  align-items: center;
  justify-content: center;
}

.section4 {
  background-color: #FFF27F;
  align-items: center;
  justify-content: center;
}

.section1 div h2 {
  margin-top: 10px;
}

.section2 div h2 {
  margin-top: 10px;
}

.section3 div h2 {
  margin-top: 10px;
}

.section4 div h2 {
  margin-top: 10px;
}

.mixes {
  display: flex;
  flex-wrap: wrap;
}

.mixes h2 {
  width: 100%;
}

.mixes div {
  display: flex;
  /*flex-wrap: wrap;*/
}

.grid2 {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(10, auto);
  background-color: #000000;
}

.gridCatalogo {
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.8470588235);
  justify-content: center;
  align-items: center;
}

.grid2 .gridCatalogo .textoCatalogo p {
  color: #bd5417;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logoCatalogo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-right: 20px;
  margin-left: 20px;
}

.logoCatalogo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  background-image: url(..//assets/logo3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
  header {
    justify-content: space-around;
  }
  .encabezado {
    justify-content: space-evenly;
    background-color: rgba(196, 26, 125, 0.9098039216);
  }
  .encabezado h1 {
    display: none;
  }
  .imgPortada {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .imgPortada img {
    max-width: 100%;
    height: auto;
  }
  div .redes {
    margin-top: 3px;
    margin-bottom: 3px;
  }
  /*div{

  width: 100%;
  }*/
  p {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section1 div h2,
  .section2 div h2,
  .section3 div h2,
  .section4 div h2 {
    margin-top: 0;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  div h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .smArtista {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .smArtista div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .smArtista div p {
    width: 100%;
  }
  .imgPortada {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imgPortada img {
    max-width: 100%;
    height: auto;
  }
  /*p{

  margin-right: 3px;
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 3px;

  }*/
  .redes p {
    padding-right: 3px;
    padding-left: 3px;
  }
  .piePagina {
    margin-top: 3px;
    margin-bottom: 3px;
    gap: 0.625rem;
    background-color: rgba(196, 26, 125, 0.9098039216);
  }
  .piePagina .textoPie {
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
  }
  h1 {
    display: none;
  }
}
@media (max-width: 320px) {
  header {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .mer {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
  }
  .navbar {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
  }
  .navbar li a {
    flex-direction: column;
    background-color: rgba(46, 46, 194, 0.934);
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .encabezado {
    gap: 3px;
    align-items: center;
    flex-direction: column;
  }
  .encabezado h1 {
    display: none;
  }
  .redes {
    align-items: center;
  }
  .redes p {
    padding-right: 3px;
    padding-left: 3px;
  }
  .imgPortada {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imgPortada img {
    max-width: 100%;
    height: auto;
  }
  main {
    justify-content: space-around;
  }
  p {
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .texto {
    flex-direction: column;
  }
  div {
    flex-direction: column;
  }
  div .textInicio {
    flex-direction: column;
    margin-left: 3px;
    margin-right: 3px;
    align-items: center;
    justify-content: center;
  }
  .textoInicio p {
    margin-left: 3px;
    margin-right: 3px;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
  }
  .piePagina {
    flex-direction: column;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
  }
  .piePagina .textoPie {
    flex-direction: column;
    font-size: 18px;
  }
  .piePagina .textoPie p {
    flex-direction: column;
    font-size: 20px;
  }
}

/*# sourceMappingURL=estilos.css.map */
