.grid { 

    display : grid;
    width: 100%;     
    height: auto;
    grid-template-columns: 50% 50%;
    grid-template-rows: 18.75rem 18.75rem;
    
}

.smArtista { 

display: flex;
flex-wrap: wrap;
flex-direction: row;

}


.igArtista img {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*margin-left: 20px;*/ 
    margin: 5px;

}     
        
div .smArtista {
display: flex;
flex-wrap: wrap;
flex-direction: row;
    
}

/*.smArtista p a .igArtista {

    align-items: center;
}*/
    
.smArtista p {
    
display: flex;
flex-wrap: wrap;
flex-direction: row;
    
}

.bio {

    margin-bottom: 20px;
}
.bio .bioArt {

    color: $color-fuente-inicio;
    @include flexTexto_inico;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 400;
}

.section1 { 

background-color :#838277;
align-items: center;
justify-content: center;

}

.section2{

@extend .section1;

}

/*.section2  { 

background-color :#FFF27F;
align-items: center;
justify-content: center;


}
*/
.section3 { 

@extend .section1;
background-color :#838277;



}

.section4 { 

@extend .section3;

}



.section1 div h2 {

margin-top: 10px;
    
}

.section2 div h2 {

margin-top: 10px;

}

.section3 div h2 {

margin-top: 10px;

}

.section4 div h2 {

margin-top: 10px;

}