@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    @include flexHeader;
    background-color: map-get($backgroundColor, fondoHeader);
    color: map-get($colorFuente, colorHeader);
    box-sizing: border-box;
    position: sticky;
    top: 0;
    

   
    

    
    
    .mer {
        @include flexVariables (flex, row, wrap, space-between, center, none);
        color: $color-fuente;
        font-family: $fuente;
        font-weight: 400;
        font-size: 25px;
        font-style: normal;
        margin-left: 20px;
        margin-top: 5px;
        padding: 0 10px;
        
    }
}

nav {
    display: flex;
    justify-content: space-between;
    
}  

.navbar {
        @include flexNav;
        gap: 2.5rem;
        margin-right: 20px;
        flex-wrap: wrap;
        text-decoration: none;

        li a {
            @include flexNav;
            text-decoration: none;
            color: $color-fuente;
            font-family: $fuente;
            font-weight: 400;
            font-size: 1.25rem;
            font-style: normal;
            /*flex-wrap: wrap;*/
        }
    }
    
    main{
        
        display: flexbox;
        width: 100%;
        height: auto;   
        font-weight: 500;
        font-size:2.5rem; 
        font-style: normal;


    }
        
    .encabezado {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: $background-color-h1;
            flex-wrap: wrap;
            width: 100%;
            gap: 5px;
            
        .encabezado h1 {
        
            display: flex;
            margin-left: 20px;
            flex-wrap: wrap;
        } .redes {
    
            @include flexNav;
            margin-right: 20px;
            gap: 5px;
            

        } .redes p {
            display: flex;
            justify-content: center;
            align-items: center;
            

        } 
    }


h1{
    margin-left: 20px;
    font-family: $fuente;
    font-weight: 400;
    font-size:25px;
    font-style: normal;
    color: $color-fuente-h1;
    
}

h2 {
    font-family: $fuente;
    font-weight: 400;
    font-size: 22px;
    font-style: normal;
    color :rgba(24, 22, 22, 0.863);
    /*margin-left: 20px;*/

}


p{
    display: flex;
    font-family: $fuente;
    font-weight: 400;
    font-size: 17px;
    font-style: normal;
    color :$color-fuente-h2;
    margin-left: 20px;
    align-self: left;
    align-items: center;


}

a {

display: flex;
align-items: center;
justify-content: center;
}

div {

display: flex;
flex-wrap: wrap;



}

ul {
    list-style: none;
}


    
    .imgPortada{

        display: flex;
        flex-direction: row;
        width: 100%;
       
        
    

    }
    
    .imgPortada img {
        
        display: flex;
        width: 100%;
        margin: 0%;
        padding: 0%;
        height: auto;
        overflow: hidden;
        align-self: flex-start;
    } 

.seccionBanner{

    display: flexbox;
    flex-direction: row;
    width: auto;
    margin-top: 20px; .banner {

    display: flex;
    flex-direction: row;
}

}

.piePagina {
    @include flexPie_pagina;
    gap: 20px;
    background-color: $background-color-foooter;
    
}
    
    .piePagina .textoPie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: $fuente;
    font-weight: 400;
    width: 100%;
    font-size: 20px;
    font-style: normal;
    color: $color-fuente-footer;
    
}

.redes_footer{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
    
    /*width: 100%;*/

}

