
main .texto .textInicio {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    overflow: hidden;
}

div .textInicio{

width: 100%;
height: 300px;
display: flex;
margin-right: 20px;

}


.texto {
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        overflow: hidden;
        margin-right: 20px;
        background-image: url(../assets/central_termica.jpeg);
        background-position: center center;
        background-size: 100% 706px;
        background-repeat: no-repeat;
        height: 706px;
        

        .textoInicio p {
        display: flex;
        text-align: justify;
        flex-wrap: wrap;
        @include flexTexto_inico;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 20px;
        font-size: 45px;
        color: $color-fuente-inicio;
        font-weight: 450;

        }
    }
        .textoInicioParrafo p {
        display: flex;
        text-align: justify;
        flex-wrap: wrap;
        color: $color-fuente-inicio;
        @include flexTexto_inico;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 20px;
        font-size: 30px;
        font-weight: 450;
        
} 

    .terceraSeccion{

        display : grid;
        width: 100%;     
        height: auto;
        grid-template-columns: 50% 50%;
        background-color: $background-color-tercer;
        
        /*display: flex;
        flex-direction: row;*/
    

    }

    .divh3{

    display: flex;
    flex-direction: row;

    }

    h3{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-self: flex-start;
        width: 100%;
        margin-left: 20px;
        font-family: $fuente;
        font-weight: 500;
        font-size:23px;
        font-style: normal;
        color: $color-fuente-h3;
        /*background-color: $color-fuente-footer;*/
        
    }
    
    h4 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-self: flex-end;
        font-family: $fuente;
        font-weight: 500;
        font-size: 21px;
        font-style: normal;
        color: $color-fuente-h3;
        margin-left: 20px;
    }

.videoInicio {


    display : grid;
    width: 100%;
    flex-direction: row;
    height: auto;
    grid-template-columns: 50% 50%;
    background-color: $background-color-tercer;
    /*grid-template-rows: 500px 500px;*/
    /*margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;*/ .divVideo {

    width: 100%;
    overflow: hidden;
    margin-left: 20px;
}
}


    .textoIniciodos {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        margin-bottom: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden; 

    }
        
        .textoIniciodos p {

        @include flexTexto_inico;
        /*margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;*/
        flex-wrap: wrap;
        text-align: left;
        margin-right: 20px;
        width: 100%;
        height: auto;
        font-family: $fuente;
        font-weight: 500;
        font-size: 21px;
        font-style: normal;
        color: $color-fuente-h3;
        overflow: hidden;


}




