.imgPortada{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-image: url('../assets/portada_bahia.jpg');
    background-size: 100% 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    
    }