$backgroundColor: (

        fondoHeader : rgba(98, 15, 233, 0.836),
        fondoH1 : rgba(98, 15, 233, 0.836),
        fondoFooter : rgba(98, 15, 233, 0.836),

);

$colorFuente: (

        colorHeader : rgb(238, 255, 234),
        colorH1 : rgba(31, 28, 28, 0.863),
        colorH2 : rgba(31, 28, 28, 0.863),
        colorFooter : rgba(31, 28, 28, 0.863),

);

/*test de aplicacion**/