$backgroundColor: (

        fondoHeader : rgba(27, 27, 109, 0.836),
        fondoH1 : rgba(2, 161, 87, 0.897),
        fondoFooter : rgba(2, 161, 87, 0.897),

);

$colorFuente: (

        colorHeader : rgb(238, 250, 235),
        colorH1 : rgba(31, 28, 28, 0.863),
        colorH2 : rgba(31, 28, 28, 0.863),
        colorFooter : rgba(31, 28, 28, 0.863),

);