@mixin flexHeader {

display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
/*gap: 20px;*/
width: 100%;
font-size: 20px;


}

@mixin flexNav {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin flexTexto_inico {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}


@mixin flexPie_pagina {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@mixin flexVariables($display, $direction, $wrap, $justify, $align, $gap) {

    display: $display;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    

}

@mixin flexMediaq ($display, $direction, $wrap, $justify, $align) {

    display: $display;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;

}