    /*$background-color: rgba(48, 48, 204, 0.934);*/
$background-color-h1: rgba(82, 184, 136, 0.897);
$background-color-foooter: rgba(82, 184, 136, 0.897);


$color-fuente: rgb(238, 250, 235);
$color-fuente-h1: rgba(31, 28, 28, 0.863);
$color-fuente-h2: rgba(31, 28, 28, 0.863);
$color-fuente-footer: rgba(31, 28, 28, 0.863);


$fuente: "IBM Plex Mono", monospace;
