@media (max-width:320px) {
    
    header{
    
    
    align-items: center;
    flex-direction: column;
    width: 100%;
    
        
    }


    
    
.mer{
    
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    
    }

    header .mer {

        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-left: 0px;
        /*display: block;*/
        /*max-width: 100%;*/
    }

    div .mer {

        justify-content: center;
        align-items: center;
        margin-left: none;
    }
    .navbar {

        @include flexMediaq (flex, column, none, center, center);
        width: 100%;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 3px;
    
    
    }
    
    .navbar li a{
    
        flex-direction: column;
        background-color: rgba(46, 46, 194, 0.934);
        font-size: 18px;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    
    div .encabezado{

        align-items: center;
        justify-content: center;
    }
    .encabezado{
    
    gap: 3px;
    @include flexMediaq (flex, column, none, center, center);
    
    }
    
    
    .encabezado h1 {
    
    display: none;
    
    }
    
    .redes{
    
    align-items: space-evenly;
    
    }
    
    
    .redes p{
    
    padding-right: 3px;
    padding-left: 3px;
    
    
    }
    
    .imgPortada {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    
    .imgPortada img {
    max-width: 100%;
    height: auto;
    }
    
    
    main{
    
justify-content: space-around;
    
}

}
    
h3{
    
    flex-direction: column;
    


}
    
.texto {

flex-direction: column;

}

.textInicio {

    flex-direction: column;
    justify-content: center;
    align-items: center;

}



div {


display: flexbox;
flex-direction: column;
justify-content: center;
align-items: center;


}


div .textInicio{

flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 20px;
margin-bottom: 15px;
margin-right: 15px;
margin-left: 15px;

}

.textoInicio p{

    /*margin-left: 3px;
    margin-right: 3px;*/
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

    
    
    
    p{
    
    flex-direction: column;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 14px;
    
    }
    
    .encabezado .redes {
    display: flex;
    flex-direction: row;
    align-items: self-end;



    
    .piePagina{
    
        flex-direction: column;
        text-align: center;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 3px;
    }
    
    .piePagina .textoPie{
    
        flex-direction: column;
        font-size: 18px;
    
        
    }
    
    .piePagina .textoPie p{
    
    flex-direction: column;
    font-size: 20px;
    
    }

    .banner {

        display: none;
        width: 100%;
        height: auto;
        
    }
    
    div .banner {

    height: auto;
    max-width: 100%;


    }
    
}